@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&family=Noto+Sans:wght@800&family=Nunito:wght@500&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

img {
    /* border-radius: 200px; */
    margin: 0px 20px;
    max-width: 370px;
    border-radius: 4px;
    height: auto;
}


.websites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* Increased gap between rows */
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 18%;
    gap: 20px;
    padding: 10px;
    height: 100%;
    /* Ensure container takes full height */
}


/* Styles for each row of links */
.website-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* Align items to the end of the row */
    gap: 50px;
    /* Increased gap between links */
}

/* Styles for individual links */
.website-row a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    /* Adjust link text color */
}

.website-row div {
    padding: 0px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


body {
    background-color: #eaecef;
    color: #333333;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

p {
    line-height: 1.5
}

a {
    font-family: 'Nunito', sans-serif;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.content {
    line-height: 1.5;
}

.highlight {
    color: var(--secondary-color);
}

.verse {
    width: 70%;
}

.verse_ch {
    text-align: right;
    margin-right: 10px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

.social-links a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: inherit;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20px;
}

.info h1 {
    font-size: 52px;
    color: #3a3a3a;
    margin-top: -10px;
}

.info h2 {
    font-size: 36px;
    color: #3a3a3a;
}

.info h3 {
    font-size: 32px;
    color: #3a3a3a;
}

h2 {
    font-weight: 400;
}

.section {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 22px 8px 20px;
    margin-bottom: 30px;
}

.subsection {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 13px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.subsection {
    transition: all 0.3s ease;
    border: 1px solid transparent;
    /* Transparent border initially */
}

.subsection:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-color: #ccc;
    /* Change border color on hover */
}


.subsection-title {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
}

.minor,
.date {
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

.date {
    text-align: right;
    font-style: italic;


}

@media screen and (max-width: 768px) {
    .subsection {
        flex-direction: column;
    }

    .date {
        text-align: left;
        margin-top: 10px;
    }
}

footer {
    text-align: center;
    font-size: 12px;
    color: #888;
}

:root {
    --primary-color: #333333;
    --secondary-color: #4a90e2;
}

a,
.section-title {
    color: var(--secondary-color);
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--primary-color);

}

.social-links a:hover {
    color: var(--secondary-color);
}